<table class="table">
    <tr>
        <th>Title</th>
        <th>Length</th>
        <th>Rating</th>

    </tr>
    <tr ng-repeat="movie in model.movies">
        <td>{{movie.title}}</td>
        <td>{{movie.length}}</td>
        <td>
            <!--Passing the value from movies to movie that rating component -->
            <movie-rating value="movie.rating">
                <span class="glyphicon glyphicon-star"></span>
            </movie-rating>

    

        </td>
        <td class="btn-group">
            <button class="btn btn-defaul" ng-click="model.upRating(movie)">
        <span class="glyphicon glyphicon-plus"></span>
    </button>

            <button class="btn btn-default" ng-click="model.downRating(movie)">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
        </td>
    </tr>
</table>


